mixin form-input(objInput = {})
  - 
    const {      
      placeholder = "",
      name = "",
      type = "",
      value = "",
      hasSubmitButton = false,
    } = objInput;

  div.form-input
    input(class = "form-input__input"
      placeholder= placeholder,
      name= name,
      type= type
      value= value)
    - if(hasSubmitButton)
      input(class = "form-input__submitter"
        type="submit"
        value="arrow_forward")